<div class="container d-flex justify-content-center align-item-center">
    <div class="wrapper">
        <form [formGroup]="encriptForm">
            <h2>Encrypt And Decrypt</h2>
            <div class="input-block">
                <label for="exampleInputEmail1" class="form-label">Secret Key:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="encriptKey">
            </div>
            <div class="input-block">
                <label for="exampleInputEmail1" class="form-label">Text For Conversion:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="encriptValue">
            </div>

            <div class="d-flex justify-content-center align-item-center mt-3 gap-3">
                <button type="submit" class="btn" (click)="onSubmit(1)">Encrypt</button>
                <button type="submit" class="btn" (click)="onSubmit(2)">Decrypt</button>
            </div>
        </form>

        @if (EnteredData.AfterEncript) {
        <div class="mt-4">
            <p class="break-text"> <strong>Entered Key:</strong> {{ EnteredData.Key }}</p>
            <p class="break-text"> <strong>Entered Text:</strong> {{ EnteredData.BeforeEncript }}</p>
            <p class="break-text"> <strong>Converted Value:</strong> {{ EnteredData.AfterEncript }}</p>
        </div>
        }
    </div>
</div>
<router-outlet></router-outlet>